<!-- load crispy_forms -->
{% load crispy_forms_tags %}

<!-- load static -->
{% load static %}

<!-- base.html -->
{% include "base.html" %}

<!-- content start -->
{% block content %}

<div class="container w-75">
    <h3 class="mb-5 text-center">Delete Your Account 😢</h3>

    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="card border-danger mb-3" style="max-width: 60rem">
            <div class="card-header text-danger fw-bold">
                Are you sure you want to delete your user account?
            </div>
        </div>

        <button type="submit" class="btn btn-outline-danger w-100">
            &nbsp; Delete Account
        </button>
    </form>

    <div class="card mt-5">
        <div class="card-body d-flex justify-content-center">
            <a
                href="{% url 'app_journal_final:list_thought' %}"
                class="link-primary me-3"
                >Back to thoughts</a
            >
            <a
                href="{% url 'app_journal_final:dashboard' %}"
                class="link-primary"
                >Back to dashboard</a
            >
        </div>
    </div>
</div>

<!-- -->
{% endblock content %}
<!-- content end -->
