{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- stylesheet -->
        <link
            rel="stylesheet"
            href="https://bootswatch.com/5/morph/bootstrap.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>Your Thoughts</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a
                    class="navbar-brand"
                    href="{% url 'app_journal_final:index' %}"
                    >Your Thoughts</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarColor01">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'app_journal_final:dashboard' %}"
                                >Dashboard</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'app_journal_final:list_thought' %}"
                                >Thoughts
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'app_journal_final:add_thought' %}"
                                >Add Thought</a
                            >
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav flex-grow-1"></ul>
                    {% endif %}
                    <div class="d-flex">
                        {% if user.is_authenticated %}
                        <a
                            class="btn btn-secondary btn-sm mx-3"
                            href="{% url 'app_user:profile_update' %}"
                        >
                            Profile
                        </a>
                        <form
                            method="POST"
                            action="{% url 'app_user:logout' %}"
                        >
                            {% csrf_token %}
                            <button
                                class="btn btn-secondary btn-sm"
                                type="submit"
                            >
                                Logout
                            </button>
                        </form>
                        {% else %}
                        <a
                            class="btn btn-secondary btn-sm mx-3"
                            href="{% url 'app_user:register' %}"
                        >
                            Register
                        </a>
                        <a
                            class="btn btn-secondary btn-sm mx-3"
                            href="{% url 'app_user:login' %}"
                        >
                            Login
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <!-- Error Messages -->
        <div class="container">
            {% if form.errors %}
            <div class="alert alert-dismissible alert-danger">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                ></button>
                <strong>Oh snap!</strong>
                {{form.errors}}
            </div>
            {% endif %}
        </div>

        <!-- Messages -->
        <div class="container mb-5 mt-5 w-50">
            {% for message in messages %}
            <!-- messages start -->

            <!-- check if message.success -->
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-dismissible alert-success">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                ></button>
                {% comment %} <strong>Welcome!</strong> {% endcomment %}
                <p>{{message}}</p>
            </div>
            {% endif %}
            <!-- messages end -->

            <!-- check if message.success -->
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-dismissible alert-warning">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                ></button>
                {% comment %} <strong>Welcome!</strong> {% endcomment %}
                <p>{{message}}</p>
            </div>
            {% endif %}
            <!-- messages end -->

            {% endfor %}
        </div>

        {% block content %}
        <!-- content -->
        {% endblock content %}

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
